* {
  margin: 0;
}

p {
  line-height: 1.5em;
}

h3 {
  margin: 5px 0;
}

.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.list-view {
  position: relative;
  min-width: 260px;
  height: 100%;
  left: 0;
  background-color: rgb(58, 58, 58);
  overflow: auto;
}

.search {
  margin: 20px;
}

.search input {
  width: 100%;
  height: 35px;
}

.list {
  color: white;
  font-size: .9em;
  padding: 0;
}

.list button {
  list-style: none;
  height: 50px;
  cursor: pointer;
  display: flex;
  padding: 0 20px;
  border: 0;
  background: none;
  width: 100%;
  text-align: left;
  color: white;
}

.list button:hover {
  background-color: rgb(93, 93, 93);
}

.list button p {
  position: relative;
  margin: auto 0;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
}

header {
  color: white;
  padding: 20px 20px 0 20px;
}

.credit {
  margin-top: 10px;
}